@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Optima";
  src: url("fonts/optima.ttf");
}

@font-face {
  font-family: "Branch";
  src: url("fonts/branch.ttf");
}

@font-face {
  font-family: "Janetanice";
  src: url("fonts/janetanice.ttf");
}

.img-caption {
  @apply font-optima text-[16px] lg:text-xl text-primary leading-6 lg:leading-8 text-justify;
}

.img-caption-list {
  @apply flex flex-col items-center lg:block text-[14px] lg:text-xl leading-8 font-optima font-bold uppercase;
}

.img-title {
  @apply font-branch text-[32px] lg:text-[64px] leading-[46px] lg:leading-[92.8px];
}

.slogan {
  @apply text-[16px] lg:text-[32px] leading-6 lg:leading-[46.4px] uppercase font-branch;
}

.most-viewed-title {
  @apply font-branch text-xl leading-[29px] pt-1 md:pt-10;
}

.most-viewed-date {
  @apply font-optima text-sm leading-4 text-light-gray pb-5;
}

.most-viewed-body {
  @apply font-optima text-sm leading-5 text-justify;
}

.read-more {
  @apply font-branch text-sm leading-5 uppercase tracking-[0.2em] text-dark-gray w-[180px] border-b-black border-b pb-2 pt-10;
}

.form-input {
  @apply border border-gray-300 placeholder-black w-full px-5 py-5 font-optima text-[16px] leading-[18px];
}

.page-header {
  @apply font-branch text-[32px] md:text-5xl lg:text-9xl leading-[46px] lg:leading-[185px] text-white absolute opacity-80;
}

.page-sub-header {
  @apply font-branch text-xl lg:text-[64px] leading-7 lg:leading-[93px] text-white absolute bottom-2 lg:bottom-[10vw] opacity-80 text-center lg:text-left;
}

.lists {
  @apply flex flex-col lg:flex-row justify-center items-center pb-20;
}

.list-items {
  @apply font-optima font-bold text-sm lg:text-xl leading-8 uppercase;
}
