@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: normal;
  src: local("Optima"), url("fonts/OPTIMA.woff") format("woff");
}

@font-face {
  font-family: "Branch";
  src: url("fonts/Branch.otf") format("otf");
}

.img-caption {
  @apply font-optima text-xl text-primary leading-8;
}

.img-caption-list {
  @apply text-xl leading-8 font-optima font-bold uppercase;
}

.img-title {
  @apply font-branch text-[64px] leading-[92.8px];
}

.slogan {
  @apply text-[32px] leading-[46.4px] uppercase font-branch;
}

.most-viewed-title {
  @apply font-branch text-xl leading-[29px];
}

.most-viewed-date {
  @apply font-optima text-sm leading-4 text-light-gray;
}

.most-viewed-body {
  @apply font-optima text-sm leading-5;
}

.read-more {
  @apply font-branch text-sm leading-5 uppercase text-dark-gray w-[180px] border-b-black border-b pb-2 pt-10;
}

.form-input {
  @apply border border-gray-300 placeholder-black w-full px-5 py-5 font-optima text-[16px] leading-[18px];
}

.page-header {
  @apply font-branch text-9xl leading-[185px] text-white absolute bottom-[16vw] opacity-80;
}

.page-sub-header {
  @apply font-branch text-[64px] leading-[93px] text-white absolute bottom-[10vw] opacity-80;
}

.li-separator {
  @apply before:content-['|'] before:px-5;
}

.li-sq-separator {
  @apply before:content-['⬝'] before:px-5;
}

li {
  display: inline;
}
